.container{

}
.books-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    background-color: rgb(90, 231, 231);
    padding: 15px;
    border-radius: 10px;
}
.book-card{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.book-title{
    background-color: brown;
    padding: 5px;
    color: white;
    border-radius: 10px 10px 0 0;
}